<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">CBD Bookings</div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Day</th>
        <th>Time</th>
      </tr>
      <% @cbdArray.each do |event| %>
          <tr>
            <td><%= event[:firstName] %></td>
            <td><%= event[:lastName] %></td>
            <td><%= event[:phone] %></td>
            <td><%= event[:email] %></td>
            <td><%= event[:bookingDateTime].strftime("%A") %></td>
            <td><%= event[:bookingDateTime].strftime("%I:%M %p") %></td>
          </tr>
          <% end %>
    </table>
    <%= link_to "Download CBD CSV", controller: "main", action: "downloadCBD" %>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Call Out Bookings</div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
      </tr>
      <% @calloutArray.each do |event| %>
          <tr>
            <td><%= event[:firstName] %></td>
            <td><%= event[:lastName] %></td>
            <td><%= event[:phone] %></td>
            <td><%= event[:email] %></td>
            <td><%= event[:address] %></td>

          </tr>
      <% end %>

    </table>
    <%= link_to "Download CALLOUT CSV", controller: "main", action: "downloadCALLOUT" %>
  </div>
</div>
