<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->


  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Bookings</div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
      </tr>
      <% @calloutArray.each do |event| %>
          <tr>
            <td><%= event[:First_Name] %></td>
            <td><%= event[:Last_Name] %></td>
            <td><%= event[:Email] %></td>
            <td><%= event[:Phone] %></td>
            <td><%= event[:Address] %></td>

          </tr>
      <% end %>

    </table>
    <%= link_to "Download CSV", controller: "main", action: "downloadCALLOUT" %>
  </div>
</div>
