<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<table class="table sortable">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Number of bookings in system</th>
      <th>Testimonial Sent?</th>
      <th>Show</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.firstName %></td>
        <td><%= client.lastName %></td>
        <td><%= client.email %></td>
        <td><%= client.mobile %></td>
        <td><%= client.bookings.count %></td>
        <td><%= client.testimonialSent %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%#= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Client', new_client_path %>
