<p>
TrustSpotDirectEmail<br>
[name]<%= @client.firstName %> <%= @client.lastName %>[/name]<br>
[email]<%= @client.email %>/email]
</p>
<p>
This is a testimonal request test.
</p>
<p>
  Send testimonial test for :<%= @client.firstName %><br>
  For: <%= @client.email %>
</p>

TrustSpotDirectEmail
[name]<%= @client.firstName %> <%= @client.lastName %>[/name]
[email]<%= @client.email %>[/email]
[order][/order]
