<p>
A Testimonal Request was sent to trust spot.
</p>
<p>
  Send testimonial for:<%= @client.firstName %><br>
</p>

TrustSpotDirectEmail
[name]<%= @client.firstName %> <%= @client.lastName %>[/name]
[email]<%= @client.email %>[/email]
[order]<%= @booking.id %> - <%= @booking.bookingTime.strftime("%-d/%m/%y") %>[/order]
